<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" afterRender="function (target, viewModel) {setParentLogListner()}">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content" setParentLogListner>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address" data-bind="visible: !isInAction()">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div id="totalpro-iframe-container">
            <iframe id="totalprocessing_tpcards_iframe" name="totalprocessing_tpcards_iframe"
                        data-bind="attr: {src: getActionUrl()}, event: {load: iframeLoaded2}, style: {width: iframeWidth(), height: iframeHeight()}"
                        data-container="totalpro-iframe"
                        class="totalprocessing iframe"
                        scrolling="no"
                        frameborder="0"
                        border="0"></iframe>
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar" data-bind="visible: !isInAction()">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: continueToPayment, enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
        <div id="tpcards_modalContent" afterRender="function(target, viewModel){initModal()}">
            <div class="modal-inner-content"></div>
        </div>
    </div>
</div>
