<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="totalprocessing_tpcards_sales_order_save_after" instance="TotalProcessing\TPCARDS\Observer\CreateSendPayByLink"/>
    </event>
</config>